* {
  margin: 0;
  padding: 0;
}
/* Giving our musicfy a responsive outlook */
@media only screen and (min-width: 735px) {
  .container {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700;
    letter-spacing: 0.023em;
    font-family: "SF Pro Display", "SF Pro Icons", "Apple WebExp Icons Custom",
      "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
